body{
    background:#0B2429;
}
.a1{
    background-color:#998235;
    height:250px;
    width: 250px;
    left: 150px;
    top:280px;  
    border-radius: 100% 00% 100% 100%; 
    position: absolute;

    }
    .a2{
    background-color:#F3AC3C;
    height:250px;
    width: 250px;
    left: 10px;
    top:400px;  
    border-radius: 100% 00% 100% 100%; 
    position: absolute;
    }
    .a3{
    background-color:#F3AC3C;
    height:250px;
    width: 250px;
    left: 300px;
    top:150px; 
    border-radius: 100% 100% 100% 100%; 
    position: absolute;
    z-index:-2 ;
    }